a.btn {
    background: teal;
    border-radius: 4px;
      box-shadow: 0 2px 0px 0 rgba(0,0,0,0.25);
    color: white;
    display: inline-block;
    padding: 6px 30px 8px;
    position: relative;
    text-decoration: none;
      transition: all 0.1s 0s ease-out;
  }
  
  .no-touch a.btn:hover {
    background: lighten(teal,2.5);
    box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
    transform: translateY(-2px);
    transition: all 0.25s 0s ease-out;
  }
  
  .no-touch a.btn:active,
  a.btn:active {
    background: darken(teal,2.5);
    box-shadow: 0 1px 0px 0 rgba(255,255,255,0.25);
    transform: translate3d(0,1px,0);
    transition: all 0.025s 0s ease-out;
  }
  
  div.cards {
    margin: 80px auto;
    max-width: 960px;
    text-align: center;
  }
  
  div.card {
    background: white;
    display: inline-block;
    margin: 8px;
    max-width: 300px;
    perspective: 1000;
    position: relative;
    text-align: left;
    transition: all 0.3s 0s ease-in;
    width: 300px;
    z-index: 1;
  }
  
  img {
      max-width: 300px;
    }
    
    .card__image-holder {
      background: rgba(0,0,0,0.1);
      height: 0;
      padding-bottom: 75%;
      
    }
  
    div.card-title {
      background: white;
      padding: 6px 15px 10px;
      position: relative;
      z-index: 0;
    }
      
  a.toggle-info {
        border-radius: 32px;
        height: 32px;
        padding: 0;
        position: absolute;
        right: 15px;
        top: 10px;
        width: 32px;
  }
            span {
          background: white;
          display: block;
          height: 2px;
          position: absolute;
          top: 16px;
          transition: all 0.15s 0s ease-out;
          width: 12px;
        }
        
        span.left {
          right: 14px;
          transform: rotate(45deg);
        }
        span.right {
          left: 14px;
          transform: rotate(-45deg);
        }
      
      h2 {
        font-size: 24px;
        font-weight: 700;
        letter-spacing: -0.05em;
        margin: 0;
        padding: 0;
      }
      small {
          display: block;
          font-size: 18px;
          font-weight: 600;
          letter-spacing: -0.025em;
        }
  
    div.card-actions {
        box-shadow: 0 2px 0px 0 rgba(0,0,0,0.075);
      padding: 10px 15px 20px;
      text-align: center;
    }
    
    div.card-flap {
      background: darken(white,15);
      position: absolute;
      width: 100%;
      transform-origin: top;
      transform: rotateX(-90deg);
    }
    div.flap1 {
      transition: all 0.3s 0.3s ease-out;
      z-index: -1;
    }
    div.card {
      cursor: pointer;
      opacity: 0.6;
      transform: scale(0.88);
    }
    div.card:hover {
      opacity: 0.94;
      transform: scale(0.92);
    }
  div.card.show {
    opacity: 1 !important;
    transform: scale(1) !important;
  }
  
  
    div.card-flap {
      background: white;
      transform: rotateX(0deg);
    }
    div.flap1 {
      transition: all 0.3s 0s ease-out;
    }
    div.flap2 {
      transition: all 0.3s 0.2s ease-out;
    }
    div.card-produk{
      box-shadow: 0 2px 0px 0 rgba(0,0,0,0.075);
      padding: 10px 15px 20px;
      text-align: center;
    }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
}

html, body {
  background: #EEE5E9;
}

header {
  width: 95%;
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
}
header ul {
  padding: 1.2em 0 0.5em;
}
header span {
  padding: 0 0 0 0.5em;
}
header span, header i {
  color: #2B2D42;
}
header i:nth-of-type(2) {
  cursor: pointer;
}

.row {
  width: 100%;
  justify-content: flex-start;
  display: flex;
  flex-flow: row wrap;
}

.product, .product--pink, .product--yellow, .product--green, .product--red, .product--orange, .product--blue {
  box-shadow: 1px 5px 15px #CCC;
  width: 15em;
  height: auto;
  border-radius: 3px;
  padding: 2em;
  margin: 1em;
  overflow: hidden;
  position: relative;
  flex: auto;
}
.product--blue {
  background: linear-gradient(-45deg, #92DCE5 50%, rgba(255, 255, 255, 0.5) 50%);
}
.product--orange {
  background: linear-gradient(-45deg, #EF6F6C 50%, rgba(255, 255, 255, 0.5) 50%);
}
.product--red {
  background: linear-gradient(-45deg, #E84855 50%, rgba(255, 255, 255, 0.5) 50%);
}
.product--green {
  background: linear-gradient(-45deg, #70C1B3 50%, rgba(255, 255, 255, 0.5) 50%);
}
.product--yellow {
  background: linear-gradient(-45deg, #E8DB7D 50%, rgba(255, 255, 255, 0.5) 50%);
}
.product--pink {
  background: linear-gradient(-45deg, #FF386D 50%, rgba(255, 255, 255, 0.5) 50%);
}
.product img, .product--blue img, .product--orange img, .product--red img, .product--green img, .product--yellow img, .product--pink img {
  max-width: 100%;
  height: auto !important;
  text-align: center;
}
.product_inner {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}
.product_inner p {
  color: rgba(20, 16, 16, 0.9);
}
.product_inner button {
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #FFF;
  border-radius: 3px;
  padding: 1em 3em;
  margin: 1em 0 0 0;
  background: none;
  cursor: pointer;
  transition: background ease-in 0.25s;
}
.product_inner button:hover {
  background: white;
  color: #2B2D42;
}
.product_inner button:before {
  font-family: FontAwesome;
  content: "";
  color: #FFF;
  position: absolute;
  font-size: 1.5em;
  margin: 0 -1.5em;
}
.product_inner button:hover:before {
  color: #2B2D42;
}
.product_overlay h2 {
  color: rgba(43, 45, 66, 0.7);
  font-size: 1.2em;
  margin: 1em 0;
}
.product_overlay i {
  color: rgba(43, 45, 66, 0.7);
  font-size: 1.5em;
}
  
  