.wrap{
    background-color: rgba(255, 255, 255,0.7);
    width: 800px;
    margin: 20px auto;
    padding: 15px;
}
.tengah1 {
    background: skyblue;
    padding:20px;
    width:700px;
    margin:20px;
    border:3px solid rgba(red, green, blue, alpha);
    text-align: center;
  }
  .garis{
    border-top:5px double #8c8b8b ;
    width:100%;
  }
  img.tengah{
    width:200px;  
    border-radius:50%;
    border-color:skyblue;
    margin-right:30px; 
    border:5px;
    width:200px;
    margin-left: auto;
    margin-right: auto;
  }
  body{
    background-color: antiquewhite;
  }
  .rata{
    background:pink;
    color:#fff;
    padding:20px;
    width:400px;
    margin:20px auto;
    border:2px dashed #050;
    border-radius:70px 0;
    text-align: center;
  }
  .barat{
    background:#6495ED;
    padding:2px;
    width:300px;
    margin:2px;
    border:5px solid skyblue;
    text-align: center;
    color: aliceblue;
  }
  .tulisan_kiri{
	text-align: left;
	text-decoration: underline;
    word-spacing: 15px;
    color: black;
    width:100px;
    margin:2px;
    height: auto;
}
.tulisan_kiri1{
	text-align: left;
	text-decoration: underline;
    word-spacing: 15px;
    color: black;
    width:100px;
    margin:2px;
    height: auto;
}
.tulisan_kiri2{
	text-align: left;
	text-decoration: underline;
    word-spacing: 15px;
    color: black;
    width:100px;
    margin:2px;
    height: auto;
}
.tulisan_kiri3{
	text-align: left;
	text-decoration: underline;
    word-spacing: 15px;
    color: black;
    width:100px;
    margin:2px;
    height: auto;
}
.tulisan_kiri4{
	text-align: left;
	text-decoration: underline;
    word-spacing: 15px;
    color: black;
    width:100px;
    margin:2px;
    height: auto;
}
.tulisan_kiri5{
	text-align: left;
	text-decoration: underline;
    word-spacing: 15px;
    color: black;
    width:100px;
    margin:2px;
    height: auto;
}
.tulisan_kiri6{
	text-align: left;
	text-decoration: underline;
    word-spacing: 15px;
    color: black;
    width:100px;
    margin:2px;
    height: auto;
}
.Timur{
    background:#6495ED;
    padding:2px;
    width:300px;
    margin:2px;
    border:5px solid skyblue;
    text-align: center;
    color: aliceblue;
}
.tulisan_kiri7{
	text-align: left;
	text-decoration: underline;
    word-spacing: 15px;
    color: black;
    width:100px;
    margin:2px;
    height: auto;
}
.tulisan_kiri8{
	text-align: left;
	text-decoration: underline;
    word-spacing: 15px;
    color: black;
    width:100px;
    margin:2px;
    height: auto;
}
.tulisan_kiri9{
	text-align: left;
	text-decoration: underline;
    word-spacing: 15px;
    color: black;
    width:100px;
    margin:2px;
    height: auto;
}
.tulisan_kiri9{
	text-align: left;
	text-decoration: underline;
    word-spacing: 15px;
    color: black;
    width:100px;
    margin:2px;
    height: auto;
}
.tulisan_kiri10{
	text-align: left;
	text-decoration: underline;
    word-spacing: 15px;
    color: black;
    width:100px;
    margin:2px;
    height: auto;
}
.tulisan_kiri11{
	text-align: left;
	text-decoration: underline;
    word-spacing: 15px;
    color: black;
    width:100px;
    margin:2px;
    height: auto;
}
.tulisan_kiri12{
	text-align: left;
	text-decoration: underline;
    word-spacing: 15px;
    color: black;
    width:100px;
    margin:2px;
    height: auto;
}
table{
    border-collapse:collapse;
    font:normal normal 20px Verdana,Arial,Sans-Serif;
    color:#333333;
    background-color:#BDB76B ;
}
table th {
    background:#00BFFF;
    color:#DCDCDC;
    font-weight:bold;
    font-size:14px;
    text-align: center;
    height: auto;
    color: black;
}
table th,
table td {
    vertical-align:top;
    padding:10px 15px;
    border:1px solid #696969;
    text-align: center;
}
table tr {
    background:#F5FFFA;
    text-align: center;
}
table tr:nth-child(even) {
    background:#F0F8FF;
    text-align: center;
}
.kanan1 {
    border-top: #050;
    text-align: center;
  }

body {
  background: lightBG;
  color: darkGrey;
  font-family: 'Source Sans Pro', sans-serif;
  text-rendering: optimizeLegibility;
}

