.hobi1{
    text-align: center;
    color: rgb(160, 130, 64);
}
.hobi2{
    text-align: center;
    color: rgb(36, 187, 214);
}
.hobi3{
    text-align: center;
    color: rgb(243, 31, 172);
}
.table1 {
    border-collapse: collapse;
    width: 90%;
    background-color: green;
    margin: 20px auto;
}

.table1, th, td {
    border: 2px solid black;
}
th, td {
    padding: 10px;
    font-size: 25px;
    text-align: center;
}
th {
    color: rgb(3, 3, 3);
}
tr:hover {background-color: #f5f5f5;}

.table2 {
    border-collapse: collapse;
    width: 90%;
    background-color: red;
    margin: 20px auto;
}

.table2, th, td {
    border: 2px solid black;
}
th, td {
    padding: 10px;
    font-size: 25px;
    text-align: center;
}
th {
    color: rgb(3, 3, 3);
}
tr:hover {background-color: #f5f5f5;}


.table3 {
    border-collapse: collapse;
    width: 90%;
    background-color: blue;
    margin: 20px auto;
}

.table3, th, td {
    border: 2px solid black;
}
th, td {
    padding: 10px;
    font-size: 25px;
    text-align: center;
}
th {
    color: rgb(3, 3, 3);
}
tr:hover {background-color: #f5f5f5;}