<div class="my-5">
  <mat-form-field appearance="outline">
    <mat-label>Pencarian</mat-label>
    <input matInput [(ngModel)]="keyfilter" placeholder="Placeholder">
    <mat-hint>Input Pencarian</mat-hint>
  </mat-form-field>
</div>

<table mat-table [dataSource]="(dataSource | search:keyfilter)" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef> No Id. </th>
    <td mat-cell *matCellDef="let element"> {{element.civility}} {{element.first_name}} {{element.last_name}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Usertype">
    <th mat-header-cell *matHeaderCellDef> Usertype </th>
    <td mat-cell *matCellDef="let element"> {{element.company.user_type}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="(element.user_status | truth)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg"
          viewBox="0 0 16 16">
          <path
            d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
        </svg>
      </div>
      <div *ngIf="!(element.user_status | truth)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x"
          viewBox="0 0 16 16">
          <path
            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
        </svg>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>