<p>
  <mat-toolbar color="primary">
   
    <span>My App</span>
    <span class="example-spacer"></span>
    
  </mat-toolbar>
</p>
<mat-card class="example-card">
  <button mat-raised-button color="warn" [routerLink]="['..','list']">Kembali</button>
    <mat-card-content class="atas">
        <form [formGroup]="form"  >
            <mat-form-field  class="example-full-width">
                <mat-label>ID</mat-label>
                <input type="text" matInput formControlName="id">
                <mat-hint>ex : 006678923</mat-hint>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Nama</mat-label>
                <input type="text" matInput formControlName="name">
            </mat-form-field>
            <mat-form-field class="example-full-width" >
                <mat-label>Email</mat-label>
                <input type="text" matInput formControlName="email">
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Please enter a valid email address
                  </mat-error>

                  
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Usia</mat-label>
                <input type="text" matInput formControlName="age">
            </mat-form-field>

                <mat-radio-group aria-label="Select an option" formControlName="gender">
                    <mat-label>Jenis Kelamin</mat-label>
                    <mat-radio-button value="Male">Laki-laki </mat-radio-button>
                    <mat-radio-button value="Female">Perempuan</mat-radio-button>
                  </mat-radio-group>

                  <mat-form-field class="example-full-width">
                    <mat-label>Posisi</mat-label>
                    <mat-select formControlName="position">
                      <mat-option *ngFor="let pos of poss" [value]="pos.value">
                        {{pos.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="example-full-width">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="marital">
                      <mat-option value="Married">  Menikah  </mat-option>
                      <mat-option value="Single">  Sendiri  </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <ul formArrayName = "addresgrup"  *ngFor = "let group of addres.controls; let idx = index">
                    <li [formGroupName]="idx">
                      
                      <div>
                         <mat-form-field  class="example-full-width">
                        <mat-label>Alamat {{idx+1}} </mat-label>
                        <input type="text" matInput formControlName="addres">
                    </mat-form-field>
                        <mat-form-field   class="half" >
                            <mat-label>Kode Pos</mat-label>
                            <input type="text" matInput formControlName="zip">
                        </mat-form-field>
                        <mat-form-field  class="half"  >
                            <mat-label>Kabupaten</mat-label>
                            <input type="text" matInput formControlName="city">
                        </mat-form-field>
                        <mat-form-field  class="half" id="end">
                            <mat-label>Provinsi</mat-label>
                            <input type="text" matInput formControlName="country">
                        </mat-form-field> </div>
                        
                    </li>
                  </ul>
                  <div class="addrs"> <button mat-stroked-button class="add" (click)="add()">Masukan Alamat</button></div>
        </form>
    </mat-card-content>
  </mat-card>
  <div class="butt">
      <button mat-raised-button   [routerLink]="['..','list' ]" (click)="submit()" class="sbm">Submit</button>

  </div>

