.card{
    margin: 6px 10px 0px 10px;
    
}

.row{
    display: flex;
    justify-content: space-evenly;
}

.online{
    color: rgb(255, 47, 255);
    font-weight: bold;
}

p{
    display: inline;
    margin-right: 5px;
}

button{
    margin-top: 20px;
}