div {
    text-align: center;
    padding: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 0px;
    background-color: rgba(24, 201, 255, 0.842);
}
.card
{
    margin: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem 1rem;
    border: 0px  rgb(255, 255, 255);
}
button {
    display: inline-block;
    background: rgb(251, 255, 20);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 0px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
  }


li{
    list-style-type: none;
}